<template>
  <z-sidebar-template title="Dashboard" :is-sidebar-opened="isSidebarOpened">
    <template #actions>
      <z-chip
        text="Filtro"
        icon="$filter_list_rounded"
        v-model="isSidebarOpened"
        @change="onChangeSidebarOpened"
      />
    </template>

    <template #main-content>
      <div
        class="dashboard-content"
        :class="{ 'sidebar-opened': isSidebarOpened }"
      >
        <z-card width="100%" title="Normal">
          <template #content>
            <z-bar-chart
              ref="chart1"
              x="type"
              y="value"
              y-title="Custom y"
              :color="$zoox.colors.orange"
              :items="barChartItems"
            />
          </template>
        </z-card>

        <z-card width="100%" title="Categórico">
          <template #content>
            <z-bar-chart
              ref="chart2"
              x="type"
              y="value"
              category="cat"
              :color-formater="getCategoryColor"
              :items="barChartItems"
            />
          </template>
        </z-card>
      </div>
    </template>

    <template #sidebar> Conteudo do sidebar </template>
  </z-sidebar-template>
</template>

<script>
function genItems() {
  const items = [];

  for (let i = 0; i < 10; ++i) {
    items.push({
      cat: i < 5 ? "Google" : "Facebook",
      type: `Exemplo ${i}`,
      value: Math.random(),
    });
  }
  return items;
}

export default {
  data() {
    return {
      isSidebarOpened: false,
      barChartItems: genItems(),
    };
  },
  methods: {
    onChangeSidebarOpened() {
      if (this.isSidebarOpened) {
        this.$nextTick(() => {
          this.$refs.chart1.render();
          this.$refs.chart2.render();
          window.dispatchEvent(new Event("resize"));
        });
      } else {
        setTimeout(() => {
          window.dispatchEvent(new Event("resize"));
        }, 500); // tempo da animação terminar
      }
    },
    getCategoryColor(category) {
      return category === "Google"
        ? this.$zoox.colors.red
        : this.$zoox.colors.midblue;
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  position: relative;
  width: 100%;
}
</style>
