<template>
  <z-initial-template
    title="Título da página"
    description="Descrição da página"
    :options="options"
    :dividers="[2]"
  />
</template>

<script>
export default {
  data() {
    return {
      isSidebarOpened: false,
      options: [
        {
          title: "Funcionalidade 1",
          description: "Descrição 1",
          icon: "$zoox_person",
        },
        {
          title: "Funcionalidade 2",
          description: "Descrição 2",
          icon: "$zoox_person",
        },
        {
          title: "Funcionalidade 3",
          description: "Descrição 3",
          icon: "$zoox_person",
        },
        {
          title: "Funcionalidade 4",
          description: "Descrição 4",
          icon: "$zoox_person",
        },
        {
          title: "Funcionalidade 5",
          description: "Descrição 5",
          icon: "$zoox_person",
        },
        {
          title: "Funcionalidade 6",
          description: "Descrição 6",
          icon: "$zoox_person",
        },
      ],
    };
  },
};
</script>
